<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Spring Web MVC Application</display-name>

    <listener>
        <listener-class>uk.ac.ebi.interpro.metagenomics.memi.tiles.MGTilesListener</listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>memi-mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>memi-mvc-dispatcher</servlet-name>
        <url-pattern>/metagenomics/*</url-pattern>
    </servlet-mapping>

    <!--<welcome-file-list>-->
    <!--<welcome-file>index.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <!-- Error pages -->

    <!-- File not found -->
    <error-page>
        <error-code>404</error-code>
        <location>/pages/errors/404.jsp</location>
    </error-page>

    <!-- General error page for errors not specifically handled above -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/pages/errors/exception.jsp</location>
    </error-page>

</web-app>
