##  Created by Maxim Scheremetjew, EMBL-EBI, InterPro
##  Date: 05-Jan-2011
##  Desc: Velocity template to provide a downloadable semicolon separated file for publicStudies
#foreach( $property in $tableHeaderNames )$property,#end

#set( $keySet = $studyMap.keySet() )
#set( $propertyMap = $studyMap )
#foreach( $study in $keySet )
#if($study.studyName)
"$study.studyName",#{else}"",#end
"$propertyMap.get($study)",#if($study.lastMetadataReceived)
$study.lastMetadataReceived,#{else},#end

#end