/* reset.css
html,body,div,span,applet,object,iframe,,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;font: inherit; vertical-align: baseline;}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:3px solid #0092bf; }ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
 */
/* reset.css  */
h1, h3, p,ol,ul,li, form, fieldset {margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;font: inherit; vertical-align: baseline;}

html, body {height: 100%;}

body {
    margin: 0; padding: 0; /*specified in EBI template.css */
    font-family: 'Droid Sans', serif;
    font-size: 80%;
    font-weight: 400;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.59;
    text-align: center; /* centers the container in IE 5* browsers.*/
    background: url(../img/bgd_main_grey.jpg); }

body.grey #wrapper,div.top-menu ul li.grey, body.grey div.but_top { background: url(../img/bgd_main_grey.jpg) #b5b5b5;}
body.red #wrapper, div.top-menu ul li.red, body.red div.but_top { background: url(../img/bgd_main_red.jpg) #ee0836;}
body.green #wrapper, body.green h5,div.top-menu ul li.green, body.green div.but_top { background: url(../img/bgd_main_green.jpg) #90cc2d;}
body.yellow #wrapper, body.yellow h5, div.top-menu ul li.yellow, body.yellow div.but_top { background: url(../img/bgd_main_yellow.jpg) #efd223;}
body.black #wrapper, div.top-menu ul li.black, body.black div.but_top { background: url(../img/bgd_main_black.jpg) #202020;}
body.orange #wrapper,div.top-menu ul li.orange, body.orange div.but_top  { background: url(../img/bgd_main_orange.jpg) #ff8400;}
body.greyblue #wrapper, body.greyblue h5, div.top-menu ul li.greyblue, body.greyblue div.but_top { background: url(../img/bgd_main_greyblue.jpg) #7d9ca6;}
body.pink #wrapper, div.top-menu ul li.pink, body.pink div.but_top { background: url(../img/bgd_main_pink.jpg) #e80767;}
body.blue #wrapper, body.blue h5, div.top-menu ul li.blue, body.blue div.but_top { background: url(../img/bgd_main_blue.jpg) #14c1df;}

@font-face {
font-family: 'MyriadProRegular';
src: url('../fonts/myriadpro-regular-webfont.eot') format('eot'),
     url('../fonts/myriadpro-regular-webfont.woff') format('woff'),
     url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'),
     url('../fonts/myriadpro-regular-webfont.svg#webfontZPnuZIZf') format('svg');
font-weight: normal;
font-style: normal;
}

p { display: block;margin: 1em 0px;}

ul, ol {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
margin:20px;
}

ul li ul { margin:10px;}



#sidebar ul {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
margin:15px;
}


img {border: none;}

a {
color: #006af6;
text-decoration: none;
}

a:hover,  a:focus { color: #00b4ff; text-decoration:underline;}

a:active { color: #647685;}

#wrapper {
overflow:auto; /*  To contain floated elements, apply overflow:auto; to the parent element, or place something to clear the floats at the bottom of the container, such as: <div style="clear:both;"></div>*/
box-shadow: 0px 0px 70px #696969;
-moz-box-shadow: 0px 0px 70px #696969;
-khtml-box-shadow: 0px 0px 70px #696969;
-webkit-box-shadow: 0px 0px 70px #696969;
width: 972px;
margin: 0px auto;
text-align: left; /* overrides text-align: center on the body element. */
padding:14px 14px 0 14px;
z-index:20;
position:relative; /*to make z-index work */
/* background: transparent url(../img/bgd_earth.gif) no-repeat -180px -120px; artistic */
border:0px #dddddd solid;
}

#extra_beta {
background: transparent url(../img/ico_beta_20.png) no-repeat left bottom;
position: absolute;
left:40%;
top:0;
width: 60px;
height:  62px;
z-index:90;
border:0px #dddddd solid;
}

#extra_feedback h1 a{
float: left;
overflow: hidden;
text-indent: -9999px;
background: transparent url(../img/button_feedback_off.gif) no-repeat -2px;
position: fixed;
_position: absolute;  /* position fixed is not recognise on IE6 */
left: 0;
top:50px;
width: 35px;
height:  102px;
z-index:100;
border:0px #dddddd solid;
}

#extra_feedback h1 a:hover {
background: transparent url(../img/button_feedback_over.gif) no-repeat ;
}

#extra_feedback h1 a:active {
background: transparent url(../img/button_feedback_active.gif) no-repeat ;
}

#extraDiv1 {
background: transparent url(../img/bgd_earth.gif) no-repeat -600px -1000px;
position: fixed;
bottom: 0px;
width: 100%;
height:  100%;
z-index:1;
border:0px black solid;
}

header, nav, .banner  { background-color: white;}

nav { float: left; width:100%;}

footer {
color:#3e3e3e;
z-index:30;
border:0px red solid;
display:block; /* for IE*/
}

footer #footer { width: 100%;  height:60px; background: url(../img/bgd_white_op45_8.png);}
footer #linec  { width: 100%; height:4px; background: url(../img/bgd_black_op20_8.png);}
footer #lined  {width: 100%; height:8px;  background: url(../img/bgd_black_op40_8.png); }

div.banner {
width: 100%;
height:100px;
border:0px black solid;
}

div.banner-logo  {float: left; border:0px black solid; margin-left:20px; margin-top:10px;}

div.banner-photo {
margin:20px 14px 0 0;
float: right;
background: url(../img/pict_metagenomics_8.png) no-repeat 0 0;
width: 385px;
height: 56px;
}

div.banner-logo h1 a {
float: left;
overflow: hidden;
background: url(../img/logo_metagenomics.jpg) no-repeat 0 0;
width: 378px;
height: 81px;
text-indent: -9999px;
}

div.top-nav {
border:0px green solid;
width:100%;
}

div.top-login {
border:0px black solid;
float:right;
margin:6px 36px 0 0;
color:#666;
}
div.top-menu {
border:0px red solid;
float:left;
margin-left:7px;
}

div.top-menu ul{
    margin:0;
    padding:0 0 0 7px;
}

div.top-menu ul li{
    list-style-type:none;
    border:0px green solid;
    float:left; 
    text-align:left;
    font-size:130%;
    line-height:18px;
    -moz-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius:10px 10px 0 0;
    margin-right:7px;
}

div.top-menu ul li a, div.top-menu ul li a:link, div.top-menu ul li a:focus{
    border:0px red solid;
    display:block;
   /*width:86px;  only if we want to have the same width for the Tabs on top */
    padding:7px 14px;
    position:relative;
    cursor:pointer;
    color:white;
    text-decoration:none;
}

div.top-menu ul li a:hover, div.top-menu ul li a:link:hover  {
/* Arrow style
background:url(../img/arrow_menu_over.png) no-repeat right 10px;*/
background:url(../img/bgd_black_op20_8.png);
color:white;
-moz-border-radius: 10px 10px 0 0;
-khtml-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
border-radius:10px 10px 0 0;
}


/* LINKS */
#logout a, #logout a:link, #logout a:focus {
color:#333;
font-weight:bold;
background:url(../img/ico_logout.jpg) no-repeat center right;
padding-right:20px;
border:0px red solid;
}

#logout a:hover {
text-decoration:underline;
}

#login a, #login a:link, #login a:focus {

font-weight:bold;
background:url(../img/login_off_8.png) no-repeat center right;
padding-right:20px;
font-size:110%;
}

#login a:hover {
text-decoration:underline;
}

a.ext, a.ext:link {
    padding-left: 12px;
    background: url(../img/ico_ext_link.png) no-repeat 0 2px;
}

a.ext:hover,a.ext:active, a.ext:focus {
    background: url(../img/ico_ext_link_on.png) no-repeat 0 2px;
}

a.signup {
width:166px;
text-align:center;
font-weight:bold;
font-size:140%;
display:block;
color:#333;
background:url(../img/bgd_button_sign_off.gif) repeat-x;
border: 1px solid #ffaa22;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding:4px 8px;
margin-top:4px;
text-shadow: #fff685 1px 1px 0px;
}

a.signup:hover {
 text-shadow: #fff685 -1px -1px 0px;
color:#171717;
background:url(../img/bgd_button_sign_over.gif) repeat-x;
border: 1px solid #ffaa22;
}

a.signup:active{
background:url(../img/bgd_button_sign_active.gif) repeat-x;
border: 1px solid #ccc;
}


#sidebar-news a.twitter {
display:block;
height:30px;
color:#00b4ff;
background: url(../img/icon_twitter.gif) no-repeat  left top;
padding-left:40px;
}

#sidebar-news a.twitter:hover{color: #006af6;}



div.but_top {
border:0px green solid;
width:40px;
text-align:center;
margin-top:26px;
display:block;

}

div.but_top a   {
color:white;
display:block;
position:relative;
border: 1px solid #c3c3c3;
padding:2px;

}

div.but_top a:hover {
border: 1px solid #aeaeae;
text-decoration:none;
background:url(../img/bgd_black_op20_8.png);
}



/* END LINKS */

/* TABLE */
table {
border-collapse: collapse;
border: solid 1px #eaeaea;
font-size:100%;
width:96%;/* bug 100% with IE*/
}

table td {padding: 4px;}

table th {
padding: 4px;
background:url(../img/bgd_black_op20_8.png);}

table.results {
background: url(../img/bgd_main_grey.jpg) #b5b5b5;
}

table.result {
line-height: 1.4em;
border-collapse:separate;
border:none;
width:100%;
}

table.result thead th{
font-size:120%;
padding:14px;
color:#fff;
text-shadow:1px 1px 1px #23518f;
border:1px solid #2a6bc8;
background:url(../img/bgd_button_login_off.gif) repeat-x;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius:5px 5px 0px 0px;
border-top-left-radius:5px;
border-top-right-radius:5px;  /* to check if it works better  */
box-shadow:0px 1px 1px #adadad;
-moz-box-shadow:0px 1px 1px #adadad ;
-khtml-box-shadow:0px 1px 1px #adadad ;
-webkit-box-shadow:0px 1px 1px #adadad ;
}

table.result tbody tr:hover{
/*background: url(../img/bgd_noise_trans.gif);  */
/*background: url(../img/bgd_stripe_50_8.png);  */
background: url(../img/bgd_black_op05_8.png);
}


table.result tbody td{
padding:6px;
text-align:center;
border: 1px solid #e5e5e5;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
color:#666;
/* text-shadow:1px 1px 1px #fff;  */
}

table.result tbody td a:hover{
text-decoration:none;
}

table.result thead th:empty{background:transparent;border:none;}

body.green table.result thead th{
border:1px solid #93CE37;
border-bottom:3px solid #9ED929;
background-color:#9DD929;
background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius:5px 5px 0px 0px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

body.green table.result tbody td{
background-color:#DEF3CA;
border: 2px solid #E7EFE0;
}
/* END TABLE */

/* TITLE, TEXT*/

h2 {
border: solid 0px red;
font-family: MyriadProRegular, sans-serif;
color:#003798;
font-size:200%;
font-weight:normal;
margin:0;
}


h3 {
color:#7c8c99;
font-size:170%;
margin:21px 0 ;
}

h4 {
color:#333;
font-size:120%;

}

h5 {
border: solid 0px red;
font-family: MyriadProRegular, sans-serif;
color:white;    /*#2e86ec*/
font-size:180%;
font-weight:normal;
margin:7px 0 ;
padding-left:14px;
}

.intro {
font-size:120%;
color:#445668;
padding-bottom:14px;
}

#sidebar h2 {
padding:0;
color:#333333;
font-size:150%;
}

#sidebar-login h2, #sidebar-mailing h2{
/*background: url(../img/bgd_stripe_title_8.png); */
border-radius: 14px 14px 0 0;
-moz-border-radius: 14px 14px 0 0;
-khtml-border-radius: 14px 14px 0 0;
-webkit-border-radius: 10px 10px 0 0;
padding: 2px 0 0 4px;
margin-bottom:2px;
}
/* END TITLE */



#sidebar-login img, #sidebar-mailing img, #sidebar-news img {
float:right;
margin: 4px 14px 0 4px;
}

#submit-data {
width:100%;
padding:14px 0 14px 0;
display:block;
}

#submit-data-display h1 a {
height:240px; /*not too big for zoom in/out pbm */
width:272px;
margin-right:14px;
float: left;
background: url(../img/button_submit_off.gif) white no-repeat center center;
border: solid 0px red;
overflow: hidden;
text-indent: -9999px;
}

/*style hand move
#submit-data-display h1 a:hover {
background: url(../img/button_submit_over.gif) white no-repeat center center;
}*/

#submit-data-description p  {
border: solid 0px red;
font-size:110%;
color:#7c8c99;
padding:0 24px 0 14px;
}


#submit-data-description  a {
margin-left:440px;
padding-top:10px;
font-size:110%;
width: 164px;
height: 41px;
border: 0px solid black;
display: block;
background: url(../img/arrow_link.jpg) no-repeat right center;
}

#submit-data-description a:hover,#submit-data-description  a:focus {
background: url(../img/arrow_link_over.jpg) no-repeat  right center;
}

#submit-data-description a:active  {
background: url(../img/arrow_link_click.jpg) no-repeat right center;
}

#list-data  a.all {
margin-right:4px;
padding:2px 36px 0 0;
float:right;
height: 30px;
border: 0px solid black;
display: block;
background: url(../img/arrow_link_small.jpg) no-repeat right top;
}

#list-data a.all:hover,#list-data  a.all:focus { background: url(../img/arrow_link_over_small.jpg) no-repeat  right top;}

#list-data a.all:active  { background: url(../img/arrow_link_click_small.jpg) no-repeat right top;}


section {
border: solid 0px #eaeaea;
display:block;
}

section section {
margin:0;
}

#main-content {
background: transparent url(../img/bgd_hex_8.png) no-repeat 630px 460px;
overflow:auto; /*  To contain floated elements, apply overflow:auto; to the parent element*/
border: solid 0px black;
width:100%;
 /* height:100%;  */
}

#content {
float:left;
border: solid 0px green;
width:682px;    /* was 690 reduced because of IE */
height:auto;
margin:14px 0 14px 0;
}

#content-full  {
border: solid 0px green;
margin:14px 0 14px 0;
padding:14px 14px 28px 14px;
background-color:white;
min-height:580px;
width:auto;
}

#sidebar {
float:right; /* since this element is floated, a width must be given */
width:256px;
overflow:hidden; /*to shrunk the URL when too long  */
border: solid 0px black;
margin-top:0;
background: url(../img/bgd_white_op45_8.png);
color:#666;
height:auto;
}

#sidebar-nav {
float:right;
width:240px;
margin: 14px 14px 0 14px;
padding:0px 7px;
font-weight:normal;
border: 1px solid #E5E5E5;
-moz-border-radius: 0 0 20px 0;
-webkit-border-radius: 0 0 20px 0;
border-radius: 0 0 20px 0;
background:  #F4F4F8;
}

#sidebar-nav  ul{
margin:10px;  font-weight:bold; font-size:110%;}

#sidebar-nav  ul  li {
list-style: none;
border: 0px solid black;
line-height:1.8;
}

#sidebar-nav  ul  li a {
display:block;
text-decoration:none;
color:#445668;
}

#sidebar-nav  ul  li ul { margin: 0; font-weight:normal;font-size:90%;}

#sidebar-nav  ul  li a:hover {
color:#2b3743;
background: url(../img/bgd_black_op05_8.png);
}

#sidebar-nav  ul  li ul li {
list-style: square;
margin-left:14px;
color:#c3c3c3;
/*background-color:green;*/
}


#sidebar-login, #sidebar-news, #sidebar-mailing{
margin: 14px 20px 14px 20px;
}

#sidebar-login, #sidebar-mailing  {
border: solid 0px black;
background-color:white;
padding:10px;
box-shadow: 3px 3px 4px #b1b1b1;
-moz-box-shadow: 3px 3px 4px #b1b1b1;
-khtml-box-shadow: 3px 3px 4px #b1b1b1;
-webkit-box-shadow: 3px 3px 4px #b1b1b1;
border-radius: 14px;
-moz-border-radius: 14px;
-khtml-border-radius: 14px;
-webkit-border-radius: 14px;
}

#sidebar-news a, #footer a{
color:#3e3e3e;
}
#sidebar-news a:hover,#footer a:hover {
color:#222222 ;
text-decoration:underline;
}

/*a.rss {*/
    /*padding-left: 22px;*/
    /*background: url(../img/rss.gif) no-repeat;*/
/*}*/

#sidebar-news .date{
color:#866d9e ;
}

a.list_more {
color:#3e3e3e;/* could be softer like 565656 */
font-weight:bold;
}

a.list_more:hover{
color:#222222 ;
text-decoration:underline;
}

a.list_sample {
color:#725093;
}

a.list_sample:hover{
color:#62388b;
text-decoration:underline;
}

.list_date{
color:#9d9d9d ;
font-size:90%;
}

.list_desc {
color:#878787 ;
font-size:100%;
}

#submit-data, #list-data-study, #list-data-sample {
background-color: white;
-moz-border-radius: 0 0 20px 0;
-khtml-border-radius: 0 0 20px 0;
-webkit-border-radius: 0 0 20px 0;
border-radius: 0 0 20px 0;
}

#list-data-study {
margin-top:14px;
min-height:442px;
width:306px;
float:left;
padding:14px;
line-height:1.2;
height:auto;
}

#list-data-study h3, #list-data-sample h3 {font-size:130%;color:#7c8c99;margin: 1em 0px; padding:0;}

#list-data-sample {
line-height:1.2;
margin:14px 0 0 14px;
width:306px;
min-height:442px;
float:left;
padding:14px;
}


.center {margin: 0px auto; width:400px;}
.center_972 {margin: 0px auto;width: 972px; text-align: left;}

.separator {margin: 4px 0 4px 0; height:8px; width:194px; display:block; border:0px solid #eaeaea;background: url(../img/bgd_sep_dot.gif) repeat-x;}

/* FORM */

#filter {
-moz-border-radius: 0 0 20px 0;
-khtml-border-radius: 0 0 20px 0;
-webkit-border-radius: 0 0 20px 0;
border-radius: 0 0 20px 0;
padding:14px;
border:1px solid #eaeaea;
width:400px;
margin:7px 0;
}

#filter label {
float: left;
clear: left;
margin: 10px 20px 0 0;
width: 120px;
text-align: right;
font-size: 110%;
color: #445668;
text-shadow: 0px 1px 0px #f2f2f2;
border: 0px solid #556f8c;
}

#filter input,#filter select {
	margin: 10px 20px 0 0; color: #445668;
}
#filter input:focus  {
	background: #F4F4F8;	
}

#filter input[type=submit] {
    color:white;
	float: left; margin: 28px 10px 0 0;
}

input.main_button {
font-weight:bold;
font-size:120%;
color:white;
background:url(../img/bgd_button_login_off.gif) repeat-x;
border: 0px solid #1f54bc;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow:0px 2px 2px #adadad;
-moz-box-shadow:0px 2px 2px #adadad ;
-khtml-box-shadow:0px 2px 2px #adadad ;
-webkit-box-shadow:0px 2px 2px #adadad ;
padding:4px 8px;
cursor: pointer;
margin:4px 0;
}

input.main_button:hover {
background:url(../img/bgd_button_login_over.gif) repeat-x;
border: 0px solid #2e22e4;
}

input.main_button:active{
background:url(../img/bgd_button_login_active.gif) repeat-x;
border: 0px solid #696969;
}


input.style, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('../img/bg_form.png') left top repeat-x;     /*to add pict*/
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    }

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }

input.style:hover, textarea:hover,
input.style:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }

.form label {
    margin-left: 10px;
    color: #999999;
    }

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
/* END FORM */

/* EXPORT OPTIONS */
.export   {
float:right;
border: 0px solid #ffaa22;
}

.export a {
float:left;
display:block;
height:31px;
padding-right:36px;
padding-top:8px;
font-size:90%;
color:#445668;
margin-right:4px;
}

.export a#csv:hover {
color:#333;
}

.export a#csv {
background: url(../img/icon_csv.gif) no-repeat right top;
}

.export a#csv_plus {
margin-left:14px;
background: url(../img/icon_csv_plus.gif) no-repeat right top;
}

/* END EXPORT OPTIONS */

#breadcrumbs {
display:block;border:0px red solid;  height:24px; background: url(../img/bgd_white_op45_8.png);z-index:50;
position:relative; /*to make z-index work */

}

#breadcrumbs .ebi_breadcrumbs li   {font-size:100%; background-color:transparent; } /*overwrite EBI style */
#breadcrumbs .ebi_breadcrumbs a{ background-color:transparent;color:#3E3E3E; } /*overwrite EBI style */

/* CAPTION for IMAGES */
figure {
  width: 300px;
  float: left;
  position: relative;
  display: block;
  border: 1px solid #c3c3c3;
  margin: 5px 0 10px 0;
}

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: .7em;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

figure:hover figcaption {
  opacity: 1;
}

figcaption * {
  padding: 0 10px;
  margin: 0;
}

figcaption *:first-child {
  padding-top: 5px;
}
figcaption *:last-child {
  padding-bottom: 5px;
}

/* Give captions and headings their own font */

figcaption {
  filter: alpha(opacity=0);
}

figure:hover figcaption {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000);
}

/* END CAPTION for IMAGES */

::-webkit-selection  { background:#7d9ca6; color:#fff; text-shadow: none; }
::-moz-selection{ background: #7d9ca6; color:#fff; text-shadow: none; }
::selection { background:#7d9ca6; color:#fff; text-shadow: none; }


.error {
padding-left:18px;
background:url(../img/ico_warning_8.png) no-repeat center left;
color: #ff0000;
clear:both;
}

#ordered {font-weight: bold;}