New Data Submission: ${subForm.subTitle}

Submitter Details:

The user was logged on with the folloing details:
Submitter Name: ${submitter.firstName} ${submitter.surname} (Database ID: ${submitter.submitterId})
Submitter Email address: ${submitter.emailAddress}

Submission Details:

Project Title: ${subForm.subTitle}
Hold Private Until: ${subForm.releaseDate}
Submission Description: ${subForm.dataDesc}
#if (${dateWarning})
Warning: The "Hold Private Until" date of ${subForm.releaseDate} entered by the user was more than 2 years in the future.
#end
