/* Represents the main CSS file for the MEMI project */
body {
    font: 80% arial, helvetica, sans-serif;
    margin: 0;
}

h2 {
    margin-top: 0;
}

td {
    font: 80% arial, helvetica, sans-serif;
}

.error {
    color: #ff0000;
}

table#login {
    width: 300;
}

#logout {
    display: block;
    visibility: hidden;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 60px;
    background: #5970B2;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

/*.date {*/
/*}*/

/*div#calendarDiv {*/
/*font: 80% arial, helvetica, sans-serif;*/
/*}*/

/*div#content {*/
    /*margin: 0 300px 0 100px;*/
/*}*/

/*div#right_side_navigation {*/
    /*right: 0;*/
    /*width: 300px;*/
}