##  Created by Maxim Scheremetjew, EMBL-EBI, InterPro
##  Date: 05-Jan-2011
##  Desc: Velocity template to provide a downloadable semicolon separated file for publicStudies
#foreach( $property in $studyProperties )$property,#end

#set( $keySet = $studyMap.keySet() )
#set( $propertyMap = $studyMap )
#foreach( $study in $keySet )
#foreach( $property in $studyProperties )
#if($property == 'PROJECT_NAME')
#if($study.studyName)
"$study.studyName",#{else},#end
#elseif($property == 'NUMBER_OF_SAMPLES')$propertyMap.get($study),#elseif($property == 'SUBMITTED_DATE')
#if($study.lastMetadataReceived)
$study.lastMetadataReceived,#{else},#end
#elseif($property == 'ANALYSIS')
#if($study.studyStatus)
$study.studyStatus,#{else},#end
#end
#end

#end
