<pre>
New Data Submission: ${subForm.subTitle}

Submitter Details:

The user was logged on with the folloing details:
Submitter Name: ${submitter.firstName} ${submitter.surname}
Submitter Email address: ${submitter.emailAddress}

Submission Details:

Project Title: ${subForm.subTitle}
Hold Private Until: ${subForm.releaseDate}
Submission Description: ${subForm.dataDesc}
</pre>
