<html>
<body>
<div>
    <h1>New Data Submission: ${subForm.subTitle}</h1>

    <h2>Submitter Details:</h2>
    <p>
        The user was logged on with the folloing details:<br />
        Submitter Name: ${submitter.firstName} ${submitter.surname} (Database ID: ${submitter.submitterId})<br />
        Submitter Email address: ${submitter.emailAddress}<br />
    </p>

    <h2>Submission Details:</h2>
    <p>
        Project Title: ${subForm.subTitle}<br />
        Hold Private Until: ${subForm.releaseDate}<br />
        Submission Description: ${subForm.dataDesc}<br />
        #if (${dateWarning})
            <strong>Warning:</strong> The "Hold Private Until" date of ${subForm.releaseDate} entered by the user was more than 2 years in the future.
        #end
    </p>
</div>
</body>
</html>
