<html>
<body>
<div>

##    #if( ${submitter} )
##        Submitter name: ${submitter.firstName} ${submitter.surname} (Database ID: ${submitter.submitterId})<br />
##        Submitter email address: ${submitter.emailAddress}<br />
##    #end

##    Email Provided: ${contactForm.sender}<br />
    ${contactForm.message}

</div>
</body>
</html>
